<form (ngSubmit)="onSubmit()" #registerForm="ngForm">
  <input type="text" name="firstName" [(ngModel)]="form.firstName" placeholder="Prénom" required />
  <input type="text" name="lastName" [(ngModel)]="form.lastName" placeholder="Nom" required />
  <input type="email" name="email" [(ngModel)]="form.email" placeholder="Email" required />
  <input type="password" name="password" [(ngModel)]="form.password" placeholder="Mot de passe" required />
  <select name="userType" [(ngModel)]="form.userType" required>
    <option value="Client">Client</option>
    <option value="Gérant">Gérant</option>
    <option value="Admin">Admin</option>
  </select>
  <input type="text" name="address" [(ngModel)]="form.address" placeholder="Adresse" />

  <button type="submit">S'inscrire</button>
</form>
