<div *ngIf="product" class="product-details-card">
      <img [src]="product.productImage" alt="Product Image" class="product-details-image" />
  
      <div class="product-info">
        <h1 class="product-details-title">{{ product.productTitle }}</h1>
        <h3 class="product-details-price">{{ product.productPrice }}</h3>
  
        <p
          [ngClass]="{
            'quantity-high': product.productQuantity >= 10,
            'quantity-low': product.productQuantity < 10
          }"
        >
          {{ product.productQuantity }} in stock
        </p>
        <button (click)="redirectToCatalog()"> back</button>
      </div>
  </div>
  